h1{
    font-size:35px;
    text-align: center;
    text-decoration:solid;
    color: white;
}
body {
  background-color: rgb(65, 65, 65);
}
button{
    border-radius: 5px;
    padding: 10px;
    font-weight: bold !important;
    border: '1px solid #ccc',

}